* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid;
    margin-bottom: 3%;
}

#logo img {
    width: 80px;
    height: auto;
}
.glyphicon-search {
    width: 60%;
    height: 60%;
    margin-top: 2%;
    border-style: outset;
    opacity: 0.8;
    color: black;
    font-family: "Arial";
}
#navbar {
    margin-top: 2%;
}
.nav-link {
    color: black;
    font-weight: 600;
    opacity: 0.6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
.register {
    color: blue;
    margin-bottom: 1%;
    margin-top: 2%;
}
.form-check-label {
    margin-top: 3%;
}
.form-check-input {
    margin-top: 1%;
}
.white-text {
    color: blue;
}

