<!--<div class="container col-md-12">-->
<!--  <div class="footer">-->
<!--    <div class="row col-md-12">-->
<!--        <div class="col-md-4">-->
<!--          <div>-->
<!--            <h3>-->
<!--              Khách sạn theo tỉnh thành-->
<!--            </h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <hr>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row col-md-12">-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">khách sạn An Giang</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn bình thuận</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Hà Nội</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Lai Châu</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Ninh Thuận</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Quảng Trị</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Vĩnh Phúc</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">Khách sạn An Giang</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Cần Thơ</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Hà Tĩnh</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Lâm Đồng</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Phú Yên</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Thái Nguyên</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">Khách sạn Bắc Giang</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Đà Nẵng</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Hải Phòng</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Lạng Sơn</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Quảng Bình</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Thanh Hóa</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">Khách sạn Bến Tre</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Đắk Lắk</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Hòa Bình</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Lào cai</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Quảng Nam</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Đà Nẵng</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">Khách sạn Bình Định</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Điện Biên</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Khánh Hòa</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Nghệ An</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Quảng Ngãi</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Tiền Giang</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <ul class="list-city">-->
<!--          <li>-->
<!--            <a href="">Khách sạn Bình Dương</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Đồng Nai</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Kiên Giang</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Ninh Bình</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Quảng Bình</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="">Khách sạn Hồ Chí Minh</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container col-md-12">
  <div class="footer">
    <div class="row col-md-12">
      <div class="col-md-2 logo-phone-messenger">
        <div>
          <img src="../assets/images/download.png" style="width: 100%; height: auto" alt="">
        </div>
        <div>
          <div>
            <img src="../assets/images/Capture.PNG" style="float: left" alt="">
          </div>
          <div>
            <strong>Messenger
            </strong>
            http://m.me/airbnb
          </div>
          <div>
            <img src="../assets/images/Capture1.PNG" style="float: left" alt="">
          </div>
          <div>
            <strong>Call Center</strong>
            18006586 (Việt Nam)
          </div>
        </div>
      </div>
      <div class="footer-div-1 col-md-3">
        <h5>TOP HOMESTAY ĐƯỢC YÊU THÍCH</h5>
        <ul>
          <li>
            <a href="">Homestay Đà Lạt</a>
          </li>
          <li>
            <a href="">Homestay Hà Nội</a>
          </li>
          <li>
            <a href="">Homestay Hồ Chí Minh</a>
          </li>
          <li>
            <a href="">Homestay Sapa</a>
          </li>
          <li>
            <a href="">Homestay Vũng Tàu</a>
          </li>
          <li>
            <a href="">Homestay Tam Đảo</a>
          </li>
          <li>
            <a href="">Homestay Hội An</a>
          </li>
          <li>
            <a href="">Homestay Đà Nẵng</a>
          </li>
          <li>
            <a href="">Homestay Hạ Long</a>
          </li>
          <li>
            <a href="">Homestay Phan Thiết</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Không Gian Ưu Thích</h5>
        <ul>
          <li>
            <a href="">Căn hộ dịch vụ</a>
          </li>
          <li>
            <a href="">Biệt Thự</a>
          </li>
          <li>
            <a href="">Nhà Riêng</a>
          </li>
          <li>
            <a href="">Studio</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Về Chúng Tôi</h5>
        <ul>
          <li>
            <a href="">Blog</a>
          </li>
          <li>
            <a href="">Điều khoản hoạt động</a>
          </li>
          <li>
            <a href="">1800 6586</a>
          </li><li>
          <a href="">+84 8898 66666</a>
        </li>
          <li>
            <a href="">info@Airbnb.com</a>
          </li>
          <li>
            <a href="">Trang thông tin dành cho chủ nhà</a>
          </li>
          <li>
            <a href="">Cơ hội nghề nghiệp</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Tải Ứng Dụng Airbnb</h5>
        <div class="col-md-6">
          <img src="../assets/images/Capture3.PNG" alt="">
        </div>
        <div class="col-md-6">
          <img src="../assets/images/Capture4.PNG" alt="">
          <img src="../assets/images/Capture5.PNG" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-md-12 footer-bottom">
  <div class="row col-md-12">
    <div class="col-md-4">
      <h5>SECURE YOUR TRANSACTION</h5>
      <img src="https://www.luxstay.com/icons/visa.svg" alt="">
      <img src="https://www.luxstay.com/icons/mastercard.svg" alt="">
      <img src="https://www.luxstay.com/icons/maestro.svg" alt="">
    </div>
    <div class="col-md-3">
      <h5>CERTIFICATION</h5>
      <img src="../assets/images/bct.png" style="width: 100px ; height: 50px" alt="">
      <img src="../assets/images/dmca.png" style="width: 100px ; height: 40px" alt="">
    </div>
    <div class="col-md-3">
      <h5>FOLLOW US</h5>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </div>
  </div>
</div>
