
.nav-item {
  font-weight: bold;
}

.form-control {
  position: relative;
}

.fa-search {
  position: absolute;
  left: 100px;
  color: darkgrey;
}

.nav-item:hover {
  background-color: darkgrey;
  color: #ffffff;
  cursor: pointer;
  height: 45px;
}

.dropdown-item:hover {
  background-color: darkgrey;
  color: #ffffff;
}

#dropdownMenu {
  margin-left: -30px;
}

.nav-link {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}
#logo{
  cursor: pointer;
}

