<div class="header col-md-12">
    <div class="row">
        <div id="logo">
            <img src="../assets/images/airbnb-3383993_960_720.png" alt="" routerLink="">
        </div>
        <div class="col-md-6" id="input-search">
            <input type="text" class="glyphicon glyphicon-search" placeholder='Try "London"'>
        </div>
        <div class="col-md-5" id="navbar">
            <ul class="nav">
                <li class="nav-item col-md-4">
                    <a class="nav-link active" href="#">Become host</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link" routerLink="/register">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" tabindex="-1">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="content">
    <h3>Explore Airbnb</h3>
    <div class="row col-md-12">
        <div class="card col-md-4">
            <div class="row no-gutters col-md-12">
                <div class="col-md-4">
                    <img src="../assets/images/bedroom.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Stays</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="row no-gutters col-md-12">
                <div class="col-md-4">
                    <img src="../assets/images/cookies-300x214.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Experiences</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="row no-gutters col-md-12">
                <div class="col-md-4">
                    <img src="../assets/images/moutain.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Adventures</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


