@import "~bootstrap/dist/css/bootstrap.min.css";
h1{
  text-align: center;
  margin-top: 20px;
}
#priceHouseItem {
 text-align: right;
}


.col-sm-4 {
  padding-bottom: 50px;
}
.row{
  margin: 0 auto;
}


