<div class="header col-md-12">
  <div class="row">
    <div id="logo" class="nav-item">
      <img src="../assets/images/airbnb-3383993_960_720.png" alt="" routerLink="">
    </div>
    <div class="col-md-6 nav-item" id="input-search">
      <input type="text" class="glyphicon glyphicon-search" placeholder='Try "London"'>
    </div>
    <div class="col-md-5" id="navbar">
      <ul class="nav">
        <li class="nav-item col-md-4">
          <a class="nav-link active" href="#">Become host</a>
        </li>
        <li class="nav-item col-md-4">
          <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item col-md-3">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" tabindex="-1">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
