<div *ngIf="house">
  <div class="container">
    <h1></h1>
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{house.picture[0]}}"/></div>
              <div class="tab-pane" id="pic-2"><img src="{{house.picture[1]}}"/></div>
              <div class="tab-pane" id="pic-3"><img src="{{house.picture[2]}}"/></div>
              <div class="tab-pane" id="pic-4"><img src="{{house.picture[3]}}"/></div>
              <div class="tab-pane" id="pic-5"><img src="{{house.picture[4]}}"/></div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{house.picture[0]}}"/></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="{{house.picture[1]}}"/></a></li>
              <li><a data-target="#pic-3" data-toggle="tab"><img src="{{house.picture[2]}}"/></a></li>
              <li><a data-target="#pic-4" data-toggle="tab"><img src="{{house.picture[3]}}"/></a></li>
              <li><a data-target="#pic-5" data-toggle="tab"><img src="{{house.picture[4]}}"/></a></li>
            </ul>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{house.name}}</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description">{{house.description}}</p>
            <h4 class="price">current price: <span>{{house.price}} vnd</span></h4>
            <!--          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>-->
            <h5 class="sizes">Category:
              <span class="size" data-toggle="tooltip" title="small">{{house.catName}}</span>
            </h5>
            <div class="colors" routerLink="/home">Host: <label> {{house.userName}}</label>
            </div>
            <div *ngIf="authority === 'user'" class="action">
              <button class="add-to-cart btn btn-default"
                      routerLink="/home/{{house.id}}/{{house.name}}/booking"
                      type="button">Booking Now
              </button>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="commentList" class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h1><small class="pull-right"></small> Comments </h1>
        </div>
        <div class="comments-list">
          <div
            *ngFor="let commentItem of commentList.data |paginate: {itemsPerPage: 5, currentPage:pageActual} , index as i"
            class="media">
            <a class="media-left" href="#">
              <img src="http://lorempixel.com/40/40/people/1/">
            </a>
            <div class="media-body">
              <h4 class="media-heading user_name">{{commentItem.userName}}</h4>
              {{commentItem.comment}}
              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
            </div>
          </div>
        </div>

        <div id="pagination">
          <pagination-controls (pageChange)="pageActual = $event"
          ></pagination-controls>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="form-group">
      <form [formGroup]="commentForm" (ngSubmit)="onCreateComment()">
        <label>Comment:</label>
        <textarea type="text"
               formControlName="comment"
               class="form-control" rows="5"
        > {{houseDemo.name}}</textarea>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
